a{
    color: white;
    text-decoration: none;
}

.nav{
    background-color: plum;
    width: 100%;
    height: max-content;
    overflow: hidden;
    position: fixed;
    z-index: 2;
    border-bottom:1px solid white;
    padding: 5px 0 10px 0;
}

.title{
    font-size: 30px;
    float: left;
    margin: 4px 0 0 50px
}


.navbar{
    height: max-content;
    display: flex;
    float: right;
    flex-direction: row;
    justify-content: space-evenly;
    margin-right:50px;
}

.nav-item{
    font-size: 20px;
    font-weight: normal;
    padding: 10px ;
    margin: 0 5px;
}
