.homepage{
    height: 100%;
    width: 100%;
}

.section{
    height: 700px;
}

.landing.div{
    text-align: center;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items:  center;
    background-image: url('../../images/pexels-pixabay-355465.jpg');
    background-size: cover;
}

.landing.content{
    margin-bottom: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.landing.text{
    font-size: 60px;
    text-decoration: underline;
    margin: 0;
}

.landing.description{
    width: 60%;
    font-size: 23px;
}

.landing.button{
    height: 40px;
    border-radius: 10px;
}

.features.content{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.card{
    width: 30%;
    height: 400px;
    background-color: tomato;
}


