.homepage{
    height: 100%;
    width: 100%;
}

.landing.div{
    text-align: center;
    height: 700px;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items:  center;
    background-image: url('../../images/pexels-pixabay-355465.jpg');
    background-size: cover;
}

.landing.content{
    margin-bottom: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.landing.text{
    font-size: 60px;
    text-decoration: underline;
    margin: 0;
}

.landing.description{
    width: 60%;
    font-size: 23px;
}
