@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html, body{
font-family: 'poppins',sans-serif;
background-color: #1a1a1a;
color: white;
height: 100%;
width: 100%;
margin: 0;
padding: 0;
}

#root{
    width: 100%;
    height: 100%;
}

.app{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.login-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px white;
    border-radius: 10px;
    height: 400px;
    width: 400px;
}

input{
    height: 25px;
    width: 320px;
    font-size: 0.8em;
}
