.container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../images/leftR.svg'), url('../../images/rightR.svg') ;
    background-position: left,right;
    background-repeat: no-repeat;
}


.main{
    width: 1218px;
}

.todos-title{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.completed, .uncompleted{
    text-align: center;
}



.todos{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}


.button{
    background-color: #352D68;
    color:white;
    border: solid 1px #352D68;
    margin: 10px 5px 0 5px;
    width: max-content;
    height: max-content;
    padding: 5px 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: 300ms;
}

.button:hover{
    background-color:#FF189B;
    border: solid 1px #FF189B;
}

.completed-div,.uncompleted-div{
    min-height: 500px;
    height: min-content;
    max-height: 700px;
    width: 50%;
    border: 1px solid white;
}

.completed-div{
    border-radius: 0 0 10px 0;
    border-left:0;
    position: relative;
}
.uncompleted-div{
    border-radius: 10px 0 0 0;
}

.todos-list{
    max-height: 420px;
    overflow: scroll;
}

.todo-checkbox-div{
    width: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid white;
    padding: 0 2px;
}

.todo-checkbox{
    width: 100%;
    height: 100%;
    cursor: pointer;
}


.inputDiv.uncompleted{
    border-bottom: 1px solid white;
    padding: 5px 0 10px 0;
    min-height: 67px;
}

.inputDiv.completed{
    padding: 5px 0 10px 0;
    width: 100%;
    border-top:1px solid white;
    position: absolute;
    bottom:0;
    left:0;
}

.input.todo{
    padding: 0 10px;
    width: 90%;
    height: 25px;
    border-radius: 5px;
}

.todo-div{
    min-height: 20px;
    border-bottom:solid 1px white;
}

.todo-div{
    display: flex;
    flex-direction: row;
}
