.container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../images/Left.svg'), url('../../images/layered-waves-haikei.svg') ;
    background-position: left,right;
    background-repeat: no-repeat;
}

.background{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

.main{
    width: 100%;
}

.todos-title{
    text-align: center;
}

.todos{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.completed-div,.uncompleted-div{
    width: 50%;
}
