.container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../images/Left.svg'), url('../../images/layered-waves-haikei.svg') ;
    background-position: left,right;
    background-repeat: no-repeat;
}


.main{
    width: 1218px;
}

.todos-title{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.completed, .uncompleted{
    text-align: center;
}



.todos{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}


.button{
    background-color: #352D68;
    color:white;
    border: solid 1px #352D68;
    margin: 10px 5px 0 5px;
    width: max-content;
    height: max-content;
    padding: 5px 14px;
    border-radius: 5px;
    cursor: pointer;
}

.completed-div,.uncompleted-div{
    min-height: 500px;
    max-height: 700px;
    width: 50%;
    border: 1px solid white;
    border-radius: 10px;
}
