@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.login{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.login-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border:1px solid transparent;
    border-radius: 8px;
    height: max-content;
    padding: 20px 0 40px 0;
    width: 400px;
    z-index: 10;
    background-color: #181b1c;
    animation: faded 1s;
}

.login-title{
    margin-bottom: 15px;
}

.login-error{
    height: 24px;
    margin: 0 0 10px 0;
}

.label{
    margin: 0;
}


.login-input{
    padding: 0 5px;
    height: 30px;
    width: 320px;
    font-size: 0.8em;
    border-radius: 5px;
    background-color: #1a1a1a;
    border:1px solid #3e4345;
    color:white;
    margin: 5px 0;
}

.signup{
    margin-top: 5px;
}

.signup.link{
    font-weight: bold;
    color:#FF189B;
}

.login-submit{
    font-size: large;
    margin-top: 25px;
    width: 90%;
    height: 40px;
    border:1px solid transparent;
    border-radius: 10px;
    cursor: pointer;
    background-color:#352d68;
    color:white;
    transition: 300ms;
}

.login-submit:hover{
    background-color: #FF189B;
}

.registerDiv{
    width: 100%;
    height: 100%;
    margin-top: 10px;
    border-top: 1px solid #3e4345;
}

.background-register{
    width: 100%;
    height: 50%;
    z-index: 1;
    position: absolute;
}

.background-register.top{
    height: 20%;
    top:0;
    background-color: #352d68;
    animation: faded 500ms;
}

.background-register.bottom{
    height: 80%;
    bottom:0;
    background-image: url('../../images/registerTest.svg');
    background-position:top;
    background-repeat: no-repeat;
    background-size: cover;
    animation: faded 500ms;
}



